# Assignment : 15(16th Feb'2023)

1. A database is information that is set up for easy access, management and updating. Databases are used for storing, maintaining and accessing any sort of data. They collect information on people, places or things. That information is gathered in one place so that it can be observed and analyzed. Databases can be thought of as an organized collection of information.

* Differences between SQL and NoSQL database :

|SQL | NoSQL|
|-|-|
|Databases are categorized as Relational Database Management System (RDBMS).|NoSQL databases are categorized as Non-relational or distributed database system.|
|SQL databases have fixed or static or predefined schema.|NoSQL databases have dynamic schema.|
|SQL databases display data in form of tables so it is known as table-based database.|NoSQL databases display data as collection of key-value pair, documents, graph databases or wide-column stores.| 
|SQL databases are vertically scalable.|NoSQL databases are horizontally scalable.|
|SQL databases use a powerful language "Structured Query Language" to define and manipulate the data.|In NoSQL databases, collection of documents are used to query the data. It is also called unstructured query language. It varies from database to database.|
|SQL databases are best suited for complex queries.|NoSQL databases are not so good for complex queries because these are not as powerful as SQL queries.|
|SQL databases are not best suited for hierarchical data storage.|	NoSQL databases are best suited for hierarchical data storage.|
|MySQL, Oracle, Sqlite, PostgreSQL and MS-SQL etc. are the example of SQL database.|MongoDB, BigTable, Redis, RavenDB, Cassandra, Hbase, Neo4j, CouchDB etc. are the example of nosql database|

2. It is a language for describing data and its relationships in a database. You can generate DDL in a script for database objects to: Keep a snapshot of the database structure. Set up a test system where the database acts like the production system but contains no data.

 
 * `CREATE` : create table in database
```
CREATE TABLE Student (
    StudendId int,
    LastName varchar(255),
    FirstName varchar(255),
    Address varchar(255),
    Mark int
);
```
 * `DROP` : delete a particular table
```
DROP TABLE Student;
```
 * `ALTER` : makes changes in the structure of the table.
```
ALTER TABLE Student
ADD Total int;
```
 * `TRUNCATE` : empties a table completely. 
```
TRUNCATE TABLE  Student;
```

3. The data manipulation language statements are used to retrieve, add, delete, and modify the data that is stored in the objects of database. The keywords or statements that are associated with the data manipulation language are: SELECT INSERT, UPDATE and DELETE. These are the primary statements of data manipulation language (DML) and are used widely.

*   `INSERT` :  insert a new row in the database that is adding data to a table.
```
INSERT INTO Student (StudendId, FirstName, LastName)
VALUES (12345, "Sri", "Durga");
```
*   `UPDATE` : used to update the data or row in the table.
```
UPDATE Student
SET FirstName = "Navin" , LastName = "Kumar"
WHERE StudentId=12345;
```
*   `DELETE` : used to delete a row from the table in the database.
```
DELETE FROM Student WHERE StudentId=12345;
```

4. DQL or data query language is to perform the query on the data inside the schema or object (ie table, index, view, function, etc). With the help of a DQL query, we can get the data from the database to perform actions or operations like analyzing the data. 

* `SELECT` : SQL `SELECT` a query on a table or tables to view the temporary table output from the database.
```
Select * from Student;
```

5. A `primary key` and a `foreign key` are two important concepts in relational databases that help to ensure data integrity and maintain consistency between related tables.

* **`PRIMARY KEY`** : A primary key is a column or a set of columns in a table whose values uniquely identify a row in the table. A relational database is designed to enforce the uniqueness of primary keys by allowing only one row with a given primary key value in a table.

* **`FOREIGN KEY`** : A foreign key is a column or a set of columns in a table whose values correspond to the values of the primary key in another table. In order to add a row with a given foreign key value, there must exist a row in the related table with the same primary key value.

6. Here is Python code to connect to MySQL using the `mysql-connector-python` module :

  ```
  import mysql.connector

  mydb = mysql.connector.connect(
    host="localhost",
    user="abc",
    password="password",
    database="test"
  )
  mycursor = mydb.cursor()
  mycursor.execute("SELECT * FROM yourtable")
  results = mycursor.fetchall()
  for result in results:
    print(result)

  ```
* `CURSOR()` : The MySQLCursor of mysql-connector-python (and similar libraries) is used to execute statements to communicate with the MySQL database.
Using the methods of it you can execute SQL statements, fetch data from the result sets, call procedures.

* `EXCUTE() `: This method executes the given database operation (query or command). The parameters found in the tuple or dictionary params are bound to the variables in the operation. Specify variables using %s or %(name)s parameter style (that is, using format or pyformat style). execute() returns an iterator if multi is True.

7. The order of execution of SQL clauses in an SQL query is as follows :

    `FROM`: This clause specifies the tables from which the data is retrieved.

    `JOIN`: This clause is used to combine rows from two or more tables based on a related column between them.

    `WHERE`: This clause is used to filter rows based on a specific condition.

    `GROUP BY`: This clause is used to group the rows based on one or more columns.

    `HAVING`: This clause is used to filter the groups based on a specific condition.

    `SELECT`: This clause is used to select the columns to be displayed in the result set.

    `DISTINCT`: This clause is used to remove duplicate rows from the result set.

    `ORDER BY`: This clause is used to sort the result set based on one or more columns.

    `LIMIT`: This clause is used to limit the number of rows returned by the query.