# Assignment - 2nd Feb

1. For loops are used when you have a definite number of iterations to be performed. For example, if you want to print the numbers from 1 to 10, you can use a for loop :

* `for` - loop :

In [ ]:
for i in range(1, 6):
 print(i)

1
2
3
4
5

  While loops are used when you want to repeat an operation until a certain condition is met. For example, if you want to print the numbers from 1 to 10, but stop when the number is 5, you can use a while loop :

* `while` - loop :

In [ ]:
i = 1
while i <= 10:
   print(i)
   if i == 5:
       break
   i += 1

1
2
3
4
5

2. Here is an example implementation of sum and product of the first 10 natural numbers using both `for` and `while` loops:

* Using `for` loop :

In [ ]:
sum = 0
product = 1
for i in range(1, 11):
    sum += i
    product *= i
print("Sum of first 10 natural numbers :", sum)
print("Product of first 10 natural numbers :", product)

Sum of first 10 natural numbers (using for loop): 55
Product of first 10 natural numbers (using for loop): 3628800

* Using `while` loop :

In [ ]:
sum = 0
product = 1
i = 1
while i <= 10:
    sum += i
    product *= i
    i += 1
print("Sum of first 10 natural numbers :", sum)
print("Product of first 10 natural numbers :", product)

Sum of first 10 natural numbers (using while loop): 55
Product of first 10 natural numbers (using while loop): 3628800

3. Here's one way to implement the electricity bill calculator in Python :

In [ ]:
def electricity_bill(units):
    if units <= 100:
        bill = units * 4.5
    elif units <= 200:
        bill = 100 * 4.5 + (units - 100) * 6
    elif units <= 300:
        bill = 100 * 4.5 + 100 * 6 + (units - 200) * 10
    else:
        bill = 100 * 4.5 + 100 * 6 + 100 * 10 + (units - 300) * 20
    return bill

units = int(input("Enter the number of units consumed: "))
bill = electricity_bill(units)
print("The electricity bill is Rs.", bill)

Enter the number of units consumed: 310
The electricity bill is Rs. 2250.0

* Test the program with the given test case :

In [ ]:
units = 310
bill = electricity_bill(units)
print("The electricity bill for", units, "units is Rs.", bill)

# Output: The electricity bill for 310 units is Rs. 2250.0

The electricity bill for 310 units is Rs. 2250.0

4. Here's how you can create the list of numbers from 1 to 100 using a `for` loop and `while` loop and find the **cubes** of the numbers that are divisible by 4 or 5.

* Using `for` loop :

In [ ]:
cubes = []
for i in range(1, 101):
    cube = i**3
    if cube % 4 == 0 or cube % 5 == 0:
        cubes.append(cube)
print(cubes)

[8, 64, 125, 216, 512, 1000, 1728, 2744, 3375, 4096, 5832, 8000, 10648, 13824, 15625, 17576, 21952, 27000, 32768, 39304, 42875, 46656, 54872, 64000, 74088, 85184, 91125, 97336, 110592, 125000, 140608, 157464, 166375, 175616, 195112, 216000, 238328, 262144, 274625, 287496, 314432, 343000, 373248, 405224, 421875, 438976, 474552, 512000, 551368, 592704, 614125, 636056, 681472, 729000, 778688, 830584, 857375, 884736, 941192, 1000000]

* Using `while` loop :

In [ ]:
numbers = []
i = 1
while i <= 100:
    cube = i ** 3
    if cube % 4 == 0 or cube % 5 == 0:
        numbers.append(i)
    i += 1
print(numbers)

[2, 4, 5, 6, 8, 10, 12, 14, 15, 16, 18, 20, 22, 24, 25, 26, 28, 30, 32, 34, 35, 36, 38, 40, 42, 44, 45, 46, 48, 50, 52, 54, 55, 56, 58, 60, 62, 64, 65, 66, 68, 70, 72, 74, 75, 76, 78, 80, 82, 84, 85, 86, 88, 90, 92, 94, 95, 96, 98, 100]

5. Here's a program that filters and counts the vowels in the given string :

In [ ]:
string = "I want to become a data scientist"
vowels = "aeiouAEIOU"
count = 0
for char in string:
    if char in vowels:
        count += 1
print("Number of vowels:", count)

Number of vowels: 12